<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857864713574-8sfpcc0bv04d7fjr1kvhmct5f32np0p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857864713574-8sfpcc0bv04d7fjr1kvhmct5f32np0p0</string>
	<key>API_KEY</key>
	<string>AIzaSyAqZoU9VB2i0eRyrA_wtQWk1TiuWYv8db8</string>
	<key>GCM_SENDER_ID</key>
	<string>857864713574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosuke.SampleTwitterApp</string>
	<key>PROJECT_ID</key>
	<string>sampletwitterapp-2a133</string>
	<key>STORAGE_BUCKET</key>
	<string>sampletwitterapp-2a133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857864713574:ios:3caa31655021e96c9c04a7</string>
</dict>
</plist>